<ion-header>

    

  <ion-navbar color="light">
    <button ion-button menuToggle="left" left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Circuito Literário em Rede</ion-title>
    <button ion-button menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button> 
  </ion-navbar>
</ion-header>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<ion-content class="main-content">
  
  <ion-card>
    <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
        </button>

        <ion-list *ngIf="item.children && item.open" no-lines>
          <!-- Second Level -->
          <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
              <ion-icon item-left name="arrow-forward" *ngIf="!child.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="child.open"></ion-icon>
              {{ child.name }}
            </button>

            <!-- Direct Add Button as Fallback -->
            <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
              <h2>{{ child.name }}</h2>
              <p>{{ child.information }}</p>
              <ion-slides loop="true" slidesPerView="2">
                <ion-slide *ngFor="let child of child.imgsrc; let k = index">
                  <img src="{{ child.src }}"> 
                </ion-slide>
                </ion-slides>
            </ion-item>

        

          </ion-list-header>
          
      

        </ion-list>
      </ion-list-header>
    </ion-list>
  </ion-card>

  <ion-card>
    <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=699718867062777&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div id="fb-root"></div>  
          <div class="fb-comments" [attr.data-href]="insertUrlHere" data-numposts="20"></div>
  </ion-card>
  
  <div>
    <div class="UFIInputContainer"><textarea aria-label="Adicionar um comentário" class="_1cb _1u9t" placeholder="Adicione um comentário..."></textarea>
    <div class="UFICommentAttachmentButtons clearfix hidden_elem">
      <div class="_r1a UFIPhotoAttachLinkWrapper _m" data-hover="tooltip" data-tooltip-alignh="center" data-tooltip-content="Anexar uma foto" role="presentation">
      <span class="UFICommentPhotoIcon">
        <input accept="image/*, image/heic, image/heif" aria-label="Anexar uma foto" class="_n _5f0v" name="file" title="Anexar uma foto" type="file" id="js_0"></span></div></div></div>
      <div class="_4uym">
        <div class="_5tr6 clearfix _2ph- clearfix">
          <div class="_ohe lfloat">
    <table cols="1" class="uiGrid _51mz" cellspacing="0" cellpadding="0">
      <tbody>
          <tr class="_51mx">
               <td class="_51mw _51m-">
                  <div class="_1u0n uiInputLabel clearfix" display="block">
                     <label class="uiInputLabelInput _55sg _kv1">
                        <input id="js_1b" type="checkbox">
                        <span class="_66ul">

                        </span>
                      </label>
           <label class="_3-99 _2ern _50f8 _5kx5 uiInputLabelLabel" for="js_1b">Publicar também no Facebook</label>
            </div>
          </td>
        </tr>
        <tr class="_51mx"><td class="_51mw _51m-">
            </td>
          </tr>
        </tbody>
    </table>
     </div>
          <div class="_ohf rfloat">
          <button ion-item (click)="post-comment-button" class="rfloat _3-99 _4jy0 _4jy3 _4jy1 _51sy selected _42ft _42fr" disabled="" type="submit" value="1">Conecte-se para publicar</button>
          </div>
    </div>
  </div>
</div>
  
  
  
  
</ion-content>

