<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle="left" left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Circuito Literário em Rede</ion-title>
    <button ion-button menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
  <ion-card>
    <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
        </button>

        <ion-card *ngIf="item.children && item.open" no-lines>
          <!-- Second Level -->
          <!-- Toggle Button -->
          <!-- Direct Add Button as Fallback -->
            <ion-grid>
              <ion-row>
                <ion-col col-6 col-md-4 col-xl-3  *ngFor="let child of item.children; let j = index" no-lines no-padding class="child-item">
                  <ion-card *ngIf="!child.children">
                    <img (click)="openModal(child.name, child.information, child.src)" src='{{child.src}}'>
                    
                    
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

        

        </ion-card>
      </ion-list-header>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer bottom>
  <ion-card>
    <img class="footer" src="assets/imgs/brand.jpg" max-width="50%">
  </ion-card>
</ion-footer>



